* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* write your CSS here */

body {
    display: flex;
    background-color: rgba(218, 205, 201, 1);
}

.box {    
    display: flex;
    flex-direction: column;
    max-width: 840px;
    max-height: 420px;
    margin: 12% auto;
    border-radius: 40px;
    background-color: rgba(237, 233, 226, 1);
    box-shadow: 12px 12px 0px 0px #C5AEA7;    
    position: relative;
        
}

#title {
    margin: 68px 316px 32px 89px;  
    width: 435px;
    flex-direction: column;
    flex-shrink: 0;
}

#links img {
    background-color: rgba(217, 217, 217, 1);    
    margin: 20px;
}


#links {
    height: 82px;
    display: flex;
    gap: 36px;
    margin: 0px 79px 31px 89px;
    max-width: 672px;

}

#links a {
    height: 82px;
    width: 82px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 41px;
}

.box p {
    
    font-size: 18px;
    width: 100px;
    margin: 0 655px 0px 89px;
    font-weight: 700;
}

.linkbox {
    display: flex;
    width: 672px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    margin: 17px 79px 71px 89px;
    gap: 106px;
    border-radius: 12px;
    background: #D9D9D9;
}

.linkbox a {
    text-decoration: none;
    font-weight: 700;
}

