* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* write your CSS here */

body {
    background-image: url(/Firefly\ uma\ tela\ rosa\ claro\ com\ várias\ escritas\ copiar\ e\ colar\ 63681.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 12%;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    height: 420px;
    margin: auto;
    border-radius: 40px;
    background-color: rgba(237, 233, 226, 1);
    box-shadow: 0px 0px 10px 10px #ffb9a4; 
    
        
}

#title {
    display: flex;
    margin: 68px 316px 32px 89px;
    max-width: 435px;
    flex-shrink: 0;
}

#links img {
    background-color: rgb(241, 175, 175);    
    margin: 20px;
       
}

#links {
    display: flex;
    gap: 32px;
    margin: 0px 79px 31px 89px;
    max-width: 672px;
         
}

#links a {
    height: 82px;
    width: 82px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 41px;
   

}

.box p {
    font-size: 18px;
    width: 100px;
    margin: 0 655px 0px 89px;
    font-weight: 700;
}

.linkbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 672px;
    padding: 18px;
    margin: 17px 79px 71px 89px;
    border-radius: 12px;
    background: #D9D9D9;
    gap: 320px;
}

.linkbox a {
    text-decoration: none;
    font-weight: 700;
}



@media screen and (max-width: 810px) {


    body {
        display: inline;
        max-width: 100%;
        max-height: 100vh;
    }

    .linkbox {
        gap: 5px;
        min-width: 250px;
        margin: 40px;
        
    }

    .linkbox span {
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    #links {
    flex-wrap:wrap;
    min-width: 300px;
    margin: 20px;
    

    }

    .box {
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 50px 5px 40px 5px;
        min-width: 350px;
    }

    .box p {
        width: 100px;
    }

    #title {
        min-width: 258px;
        
        margin: 50px 20px;
        
    }



}
